body {
  background-color: #F9F9F9;
}

body .container-fluid {
  max-width: 1275px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0px;
  position: absolute;
  width: 85px;
  height: 950px;
  left: 0px;
  top: 0px;
  background-color: white;
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.07);
}

.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .navbar-nav .nav-item.active .nav-link {
  color: #1553A0;
}

.navbar .navbar-nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
  padding: 0;
  color: #4A4A4A;
  font-weight: 500;
  font-size: 12px;
}

.navbar .navbar-nav .nav-item .nav-link img {
  width: 24px;
  height: 24px;
  text-align: center;
}

.navbar .profile__name {
  color: #4A4A4A !important;
  font-weight: 500;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.navbar .profile__name img {
  padding-bottom: 9px;
}

.navbar__home {
  padding-left: 70px;
  height: auto;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.navbar__home .container-fluid .container__navbar__home {
  padding-left: 16px;
}

.navbar__home .container-fluid .container__navbar__home h1 {
  font-weight: 600;
  font-size: 25px;
  color: #1553A0;
  margin: 0;
}

.navbar__home .container-fluid .container__navbar__home .input-group {
  width: auto;
  height: 36px;
  margin: 16px 0;
}

.navbar__home .container-fluid .container__navbar__home .input-group .input-group-text {
  background-color: transparent;
  padding-right: 0;
}

.navbar__home .container-fluid .container__navbar__home .input-group .form-control {
  border-left: none;
  background: #FFFFFF;
  border-color: #CACACA;
  border-radius: 5px;
}

.navbar__home .container-fluid .container__navbar__home .input-group .form-control ::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #CACACA;
}

.navbar__home .container-fluid .container__navbar__home .input-group .form-control :-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #CACACA;
}

.navbar__home .container-fluid .container__navbar__home .input-group .form-control ::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #CACACA;
}

.navbar__home .container-fluid .container__navbar__home .input-group .form-control ::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #CACACA;
}

.navbar__home .container-fluid .container__navbar__home .create__button {
  width: 170px;
  height: 36px;
  background: #FFFFFF;
  border: 1.5px solid #1553A0;
  border-radius: 5px;
  color: #1553A0;
  margin-right: 0;
}

.navbar__home .container-fluid .container__navbar__home .create__button img {
  vertical-align: text-top;
}

.case__in__progress {
  margin-top: 40px;
}

.case__in__progress .container-fluid .container__case__in__progress {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  width: auto;
  padding: 16px;
  margin-left: 85px;
}

.case__in__progress .container-fluid .container__case__in__progress .left img {
  margin-right: 19px;
}

.case__in__progress .container-fluid .container__case__in__progress .left .judul__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
  margin: 0;
}

.case__in__progress .container-fluid .container__case__in__progress .left .title {
  font-size: 14px;
  line-height: 160%;
  color: #888888;
  margin: 0;
}

.case__in__progress .container-fluid .container__case__in__progress .left .title span {
  color: #DB8A10;
  font-weight: 600;
}

.latest__actions {
  margin-top: 28px;
}

.latest__actions .container-fluid .container__latest__actions {
  width: auto;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  padding: 16px;
  margin-left: 84px;
  margin-bottom: 16px;
  height: 550px;
  overflow: hidden;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #4A4A4A;
  margin: 0;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1553A0;
  margin: 0;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
  margin-top: 32px;
  overflow-y: auto;
  height: 550px;
  padding-bottom: 100px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .left {
  padding-right: 50px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .left strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
  margin-bottom: 2px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .left p {
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #888888;
  text-decoration: none;
  margin: 0;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .left p img {
  vertical-align: top;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .right p {
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #4A4A4A;
  text-decoration: none;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card {
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  padding: 18px 24px;
  margin-top: 19px;
  text-align: center;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card img {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #4A4A4A;
  margin-bottom: 4px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .title__profile {
  font-size: 14px;
  line-height: 160%;
  color: #888888;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 10px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .adnoc__onshore {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #1553A0;
  text-decoration: none;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .under__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .id__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .btn__under__review {
  background: #FFEFD2;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #DB8A10;
  margin: 16px 0;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .img__card__profile {
  float: none;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .img__profile__icon {
  margin-right: 8px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .by__name {
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: #1553A0;
  text-decoration: none;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .by__name span {
  color: #888888;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item {
  position: relative;
  counter-increment: list;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item:not(:last-child) {
  padding-bottom: 40px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 43px;
  left: -30px;
  height: 75%;
  width: 30px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -44px;
  width: 30px;
  height: 30px;
  border: 2px solid #CCC;
  border-radius: 50%;
  background-color: #FFF;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item.is-done::before {
  border-left: 1px solid #CACACA;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item.is-done::after {
  content: "";
  background-image: url(../images/icons/Check.svg);
  background-position: center;
  background-size: contain;
  border: 2px solid #53A8E2;
  background-color: #53A8E2;
  width: 30px;
  height: 30px;
  margin-bottom: 80px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item.current::before {
  border-left: 1px solid #CACACA;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress-item.current::after {
  content: counter(list);
  padding-top: 1px;
  width: 30px;
  height: 30px;
  top: -4px;
  left: -44px;
  font-size: 14px;
  text-align: center;
  color: #53A8E2;
  border: 2px solid #53A8E2;
  background-color: white;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress strong {
  display: block;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right {
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  padding: 16px;
  margin-left: 84px;
  height: 550px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #4A4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right h4 img {
  padding-left: 3px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right p {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1553A0;
  margin: 0;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right #myChart {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right .box_1 {
  width: 10px;
  height: 10px;
  background-color: #1553A0;
  border-radius: 50%;
  margin-right: 13px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right .box_2 {
  width: 10px;
  height: 10px;
  background-color: #53A8E2;
  border-radius: 50%;
  margin-right: 13px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right .box_3 {
  width: 10px;
  height: 10px;
  background-color: #76DDFB;
  border-radius: 50%;
  margin-right: 13px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right .box_4 {
  width: 10px;
  height: 10px;
  background-color: #DBECF8;
  border-radius: 50%;
  margin-right: 13px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right .colom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right .nilai__chart {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.05em;
  color: #4A4A4A;
  margin: 0;
}

.latest__actions .container-fluid .container__latest__actions .latest__actions__right .title__chart {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  text-decoration: none;
  color: #888888;
}

@media (min-width: 576px) {
  .latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card {
    text-align: left;
  }
  .latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card img {
    margin-bottom: 0;
    margin-right: 24px;
  }
  .latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .img__card__profile {
    float: left;
  }
}

@media (min-width: 992px) {
  .latest__actions .container-fluid .container__latest__actions .col-lg-8 {
    width: 100%;
  }
  .latest__actions .container-fluid .container__latest__actions .col-lg-4 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .navbar__home {
    height: 72px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .navbar__home .container-fluid {
    padding: 0;
  }
  .navbar__home .container-fluid .container__navbar__home {
    padding-left: 10px;
  }
  .navbar__home .container-fluid .container__navbar__home .input-group {
    width: 382px;
    margin: 0;
  }
  .navbar__home .container-fluid .container__navbar__home .create__button {
    margin-right: 40px;
  }
  .case__in__progress .container-fluid .container__case__in__progress {
    margin-left: 30px;
    width: 1275px;
    padding: 24px;
  }
  .latest__actions .container-fluid .container__latest__actions {
    margin-left: 30px;
    width: 1275px;
  }
  .latest__actions .container-fluid .container__latest__actions .col-lg-8 {
    width: 69.666667%;
  }
  .latest__actions .container-fluid .container__latest__actions .col-lg-4 {
    width: 30.333333%;
  }
  .latest__actions .container-fluid .container__latest__actions .latest__actions__left {
    margin-left: 0;
    padding: 24px;
  }
  .latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .id__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .latest__actions .container-fluid .container__latest__actions .latest__actions__left .StepProgress .StepProgress-item .card .btn__under__review {
    margin: 0;
  }
  .latest__actions .container-fluid .container__latest__actions .latest__actions__right {
    margin-left: 0;
    padding: 24px;
  }
}
/*# sourceMappingURL=sidebarV1.css.map */